.cell {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
}

.colorBlack {
	background: rgb(78, 78, 78);
}

.colorWhite {
	background: rgb(168, 168, 168);
}

.availableBlock {
	position: absolute;
	display: block;
	width: 100px;
	height: 100px;
	background: rgba(0, 221, 136, 0.829);
}

.subBlock {
	display: block;
	width: 95px;
	height: 95px;
	z-index: 2;
	
	border: 3px solid gold;
	border-radius: 15px;
}